/* extra extra large (xxl) */
/* @media (min-width:1400px){
} */

/* extra large (xl) */
/* @media (min-width:1200px) and (max-width:1399.98px){
} */

/* large (lg) */
@media (min-width:992px) and (max-width:1199.98px){
    /* banner section css start */
    #banner {
        height: 680px;
    }
    #banner .banner_content h3 {
        font-size: 27px;
    }
    #banner .banner_content h1 {
        font-size: 55px;
        letter-spacing: 22px;
    }

    /* about section css start */
    #about {
        padding: 70px;
    }
    #about .about_item_container {
        margin-top: 60px;
    }
    .section_info h2 {
        font-size: 40px;
    }
    .section_info p {
        font-size: 15px;
        line-height: 38px;
    }
    .section_info p b {
        font-size: 20px;
    }
    #about .about_item {
        padding: 50px 30px;
    }
    #about .about_item i {
        font-size: 35px;
    }

    /* service section css start */
    #service {
        padding: 60px 0;
    }
    #service .service_item {
        padding-right: 70px;
    }

    /* my work section css start */
    #mywork {
        padding-top: 65px;
    }
    #mywork .mywork_item .overlay {
        padding: 0;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    /* contact section css start */
    #contact .section_info {
        padding:0;
        margin-bottom: 50px;
    }
}

/* medium (md) */
@media (min-width:768px) and (max-width:991.98px){
    /* banner section css start */
    #banner {
        height: 600px;
    }
    #banner .banner_content h3 {
        font-size: 25px;
    }
    #banner .banner_content h1 {
        font-size: 40px;
        letter-spacing: 18px;
    }
    #banner .banner_content img {
        margin: 40px auto;
    }
    #banner .banner_content a {
        padding: 14px 25px;
    }

    /* about section start */
    #about {
        padding: 50px 0;
    }
    #about .about_item_container {
        margin-top: 50px;
    }
    .section_info h2 {
        font-size: 40px;
    }
    .section_info p {
        font-size: 14px;
        line-height: 37px;
    }
    .section_info p b {
        font-size: 18px;
    }
    #about .about_item:nth-child(2n){
        border: none;
    }

    /* service section css start */
    #service {
        background: #f0f0e8;
        padding: 50px 0;
    }
    #service .service_item {
        padding: 0 100px;
    }

    /* mywork section css start */
    #mywork {
        padding-top: 50px;
    }
    #mywork .mywork_item_sec {
        margin-top: 50px;
    }

    /* contact section start */
    #contact .contact_form .button {
        padding: 12px 50px;
    }
}

/* small (sm) */
@media (min-width:576px) and (max-width:767.98px){
    /* banner section css start */
    #banner {
        height: 450px;
    }
    #banner .banner_content h3 {
        font-size: 22px;
    }
    #banner .banner_content h1 {
        font-size: 35px;
        letter-spacing: 13px;
        margin: 10px 0;
    }
    #banner .banner_content p {
        font-size: 16px;
    }
    #banner .banner_content img {
        margin: 19px auto;
    }
    #banner .banner_content a {
        padding: 8px 25px;
    }

    /* about section start */
    #about {
        padding: 50px 0;
    }
    #about .about_item_container {
        margin-top: 45px;
    }
    .section_info h2 {
        font-size: 35px;
    }
    .section_info p {
        font-size: 12px;
        line-height: 25px;
    }
    .section_info p b {
        font-size: 15px;
    }
    #about .about_item {
        padding: 36px;
    }
    #about .about_item i {
        font-size: 30px;
    }
    #about .about_item:nth-child(2n){
        border: none;
    }

    /* service section css start */
    #service {
        background: #f0f0e8;
        padding: 50px 0;
    }
    #service .service_item {
        padding: 0 50px;
    }

    /* my work section start */
    #mywork {
        padding-top: 50px;
    }
    #mywork .mywork_item_sec {
        margin-top: 50px;
    }

    /* contact section start */
    #contact {
        padding-top: 20px;
    }
    #contact .contact_form .button {
        padding: 10px 45px;
    }
}

/* extra small */
@media (max-width:575.98px){
    /* banner section css start */
    #banner {
        height: 400px;
    }
    #banner .banner_content h3 {
        font-size: 12px;
    }
    #banner .banner_content h1 {
        font-size: 25px;
        letter-spacing: 10px;
        margin: 10px 0;
    }
    #banner .banner_content p {
        font-size: 10px;
    }
    #banner .banner_content img {
        margin: 30px auto;
    }
    #banner .banner_content a {
        font-size: 11px;
        padding: 12px 16px;
    }
    /* about section css start */
    #about {
        padding: 30px 0;
    }
    #about .about_item_container {
        margin-top: 35px;
    }
    .section_info h2 {
        font-size: 25px;
    }
    .section_info p {
        font-size: 12px;
        line-height: 30px;
    }
    .section_info p b {
        font-size: 15px;
    }
    #about .about_item i {
        font-size: 25px;
    }
    #about .about_item{
        padding: 30px;
        border: none;
    }
    /* service section css start */
    #service {
        background: #f0f0e8;
        padding: 45px 0;
    }
    #service .service_item {
        padding: 0 50px;
    }
    /* my work section start */
    #mywork {
        padding-top: 45px;
    }
    #mywork .mywork_item_sec {
        margin-top: 45px;
    }

    /* contact section start */
    #contact {
        padding-top: 10px;
    }
    #contact .contact_form input, 
    #contact .contact_form textarea {
        margin-bottom: 18px;
    }
    #contact .contact_form .button {
        font-size: 12px;
        padding: 8px 15px;
    }
}